* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0) 80%),
        url("./assets/bg.png");
}

body {
    font-family: Inter;
}

.topnavbar {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.navbarLeft img {
    width: 120px;
    padding: 10px;
}

.navbarCentre {
    display: flex;
    gap: 25px;
    padding: 10px;
    font-size: medium;
}

.navbarCentre a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 8px;
}

.navbarCentre a:hover {
    background-color: #0E5775;
    border-radius: 25px;
}


.ContactSales {
    background-color: rgba(255, 255, 255, 0.08);
    color: white;
    cursor: pointer;
    font-size: medium;
    border-radius: 25px;
    padding: 8px;
    border: none;
}

.blackbutton {
    border: none;
    background-color: black;
    color: white;
    font-size: medium;
    border-radius: 25px;
    padding: 8px;
    cursor: pointer;
}

.blackbutton:hover {
    background-color: #07131A;
}


.pill {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.pill a {
    color: white;
    background-color: #034768;
    display: flex;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    border-radius: 15px;
    width: 420px;
    height: auto;
    text-align: center;
}

#pill-badge {
    background-color: #0C8C5E;
    padding: 4px;
    border-radius: 15px;
    font-size: small;
    margin: 2px;

}

#pill-text {
    padding: 4px;
}

#pill-arrow {
    margin-top: 4px;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#hero h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 60px;
    font-weight: bolder;
}

#hero p {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: large;
}

.emailInput input {
    background-color: rgba(87, 167, 157, 0.7);
    border-radius: 25px;
    border: none;
    padding: 10px;
    width: 350px;
}

input::placeholder {
    color: #ffffff;
    opacity: 0.7;
    font-size: larger;
}

.emailInput {
    margin-bottom: 30px;
}

.emailInput button {
    transform: translateX(-105%);
    margin-top: 1px;
    border-radius: 25px;
    border: none;
    padding: 6px;
    cursor: pointer;
    background-color: #ffffff;
    font-size: 15px;
}

#heroimage {
    display: flex;
    justify-content: center;

}

#heroimage img {
    border-radius: 20px;
    background: linear-gradient(to top,
            white 0%,
            rgba(255, 255, 255, 0) 100%);
}

.brandGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: center;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 100px;
    row-gap: 60px;
    margin-bottom: 250px;
}

.brandGrid img {
    width: 150px;
}

.hero2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero2 h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

.hero2 p {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    color: #08090acc;
    margin-bottom: 40px;
}

.flexbig {
    display: flex;
    justify-content: center;
    gap: 25px;
    max-width: 1100px;
    margin: 0 auto 40px auto;

}

.doubleflex {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 40px;
    border-radius: 25px;
    border: 1px solid #EEEEEE;
    
}

.doubleflex h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    
}

.doubleflex img {
    width: 450px;
}

.greentext {
    color: #0C8C5E;
    font-size: 16px;
    font-family: "Geist Mono", monospace;
    font-weight: 550;
    margin-bottom: 20px;
}

.normaltext {
    font-size: 18px;
    color: #3E3E5E;
    line-height: 1.6;
}

.singlebigflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #EEEEEE;
    width: 100%;
    padding: 40px;
    border-radius: 25px;
    margin-bottom: 200px;
}

.singlebigflex img {
    width: 900px;
}

.containerforsinglebigflex {
    display: flex;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto 20px auto;
}
.containerforsinglebigflex .normaltext {
    text-align: center;
    width: 550px;
    line-height: 24px ;
    margin-top: 8px;
}

.afterflexsection {
    background-color: #F7F7F7;
    margin-bottom: 100px;
    padding-bottom: 100px;
}

.beforeflex1 {
    display: flex;
    flex-direction: column;
    margin-left: 220px;
    margin-right: 220px;
}

.beforeflex1 .greentext {
    padding-top: 100px;
}

.beforeflex1 h2 {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.flex1 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 220px;
    margin-right: 220px;
    margin-bottom: 40px;
}

.flex1 .blackbutton {
    font-size: large;
    padding: 12px;
    padding-left: 22px;
    padding-right: 22px;
}

.flex2 {
    display: flex;
    margin-left: 220px;
    margin-right: 220px;
    margin-bottom: 60px;
    gap: 20px;
    
}

.insideflex2 {
    display: flex;
    flex-direction: column;
    
}

.insideflex2 h4 {
    font-size: 20px;
    font-weight: 600;
    margin: 32px 0px 20px;
    
}

.insideflex2 img {
    width: 70px;
}

.containerforinterractiveimg {
    display: flex;
    justify-content: center;

}

#interractiveimg {
    width: 1370px;
}

.carouselsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.carouselsection h2 {
    font-size: 40px;
    margin: 32px 0px 20px;
}

.carouselsection .normaltext {
    width: 700px;
    text-align: center;
    margin-bottom: 40px;
}

.flexCarousel {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 140px;
}

.cardsofcarousel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flexCarousel img {
    width: 300px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.flexCarousel img:hover {
    cursor: pointer;
}

.flexCarousel p {
    color: #3E3E5E;
    font-size: 18px;
    margin-bottom: 20px;
    width: 300px;
}

.flexCarousel a {
    color: #08090a80;
    text-decoration: none;
}

.flexCarousel a:hover {
    color: #0C8C5E;
}

.flexCarousel a span {
    display: inline-block;
    transition:0.2s ease;
}

.flexCarousel a:hover span {
    transform: translateX(8px);
}

.endingsection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.endingsection h2{
    display: flex;
    word-spacing: 70%;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    margin-bottom:20px ;
}

.endingsection p{
    color: #08090a;
    text-align: center;
    margin-bottom:40px ;
}

.buttonsidebyside .blackbutton{
    padding: 8px;
    padding-left: 22px;
    padding-right: 22px;
    font-weight: 500;
}

#GetADemoButton{
    background-color: #FFFFFF;
    border: 1px solid #bebdbd;
    font-size: medium;
    border-radius: 25px;
    padding: 8px;
    padding-left: 22px;
    padding-right: 22px;
}

.lastsectionflex{
    display: flex;
    justify-content: center;
}
.lastsectioncolumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 80px;
    padding: 20px;
}

#fortheline{
    border-right: 1px solid #EEEEEE;
    padding-right: 200px;

}

.lastsectioncolumn img{
    border: 1px solid #EEEEEE;
    border-radius: 15px;
    padding: 4px;
}

.lastsectioncolumn h5{
    font-size: 20px;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 15px;
}
.lastsectioncolumn p{
    margin-bottom: 32px;
}
.lastsectioncolumn a{
    text-decoration: none;
    color: #0C8C5E;
}
.lastsectioncolumn a span{
    display: inline-block;
    transition:0.2s ease;
}

.lastsectioncolumn a:hover span{
    transform: translateX(3px);
}
.bottomlogoflex{
    display: flex;
    justify-content: space-around;
    gap: 200px;
    margin-bottom: 80px;
}

.bottomlogoflex img{
    width: 100px;
}

.bottomlogoflexright{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.svg{
    color: #08090a80;
}
.bottomlogoflexright a:hover{
    color: #4b4b4b;
}

.footerdirectory{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 320px;
    margin-right: 320px;
    margin-bottom: 80px;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.column p{
    color: #08090a80;
    font-size: 13px;
    margin-bottom: 8px;
}
.column a{
    text-decoration: none;
    color: #08090a;
    font-size: 14px;    
}

.SecuritySection{
    display: flex;
    margin-left: 280px;
    gap: 10px;
    align-items: center;
    margin-bottom: 100px;
}
.SecuritySection img{
    width: 60px;
    border-radius: 100px;
}

.lastsection{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 200px;
}
.leftsidelastsection a{
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    color: #08090a;
    background-color: #EEEEEE;
    padding: 10px;
    border-radius: 25px;
}

#securitysvg{
    transform: translateY(20px);
    width: 24px;
}
.midlastsection{
    margin-top: 30px;
    color: #08090a80;
}
.rightsidelastsection{
    margin-top: 30px;
    background-color: #08090a80;
    border-radius:25px ;
    background-color: #EFEFEF;
    color: #08090a;
    padding: 4px;
    padding-right: 8px;
    padding-left: 8px;
    
}
.rightsidelastsection input{
    display: none;
}
.rightsidelastsection label{
    cursor: pointer;
}

